
.navbar-brand{
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold ;
    font-style: italic;
}

.nav-item{
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}
.nav-linka.ctive{
    color: orangered;
}

.section-p{
    color: orangered;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: green;
    margin: 40px;

}
body{
    background-color: #fa7c2d;
}
.cardMedicamentos{
    background-color:rgb(5, 90, 40);
    margin: 2%;
    color: rgb(28, 219, 37);
}