.navbar-brand{
    color: orangered;
}

.nav-link{
    color: orange;
}

body{
    background-color: rgb(221, 180, 103);
}
.cardMedicamentos{
    background-color:rgb(5, 90, 40);
    margin: 2%;
    color: rgb(28, 219, 37);
}